<!DOCTYPE html>
<html>
  <head>
    <title>Flowbiteint</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body class="bg-[#f4f7fa]">
    <main>
    
      <div class="bg-[#f4f7fa] h-full">
        <%= render "components/nav_bar" %>
        <div class="mt-[56px]">
          <%= render "components/side_bar" %>
          <div class="p-4 sm:ml-64">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js')
                  .then((registration) => {
                      console.log('Service Worker registered with scope:', registration.scope);
                  })
                  .catch((error) => {
                      console.error('Service Worker registration failed:', error);
                  });
          });
      }
    </script>
  </body>
</html>
